<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%= rand %> </h1>
    <p>#286 Breloom: It scatters poisonous spores and throws powerful punches while its foe is hampered by inhaled spores.</p>
    <p>#120 Staryu:	If its body is torn, it can grow back if the red core remains. The core flashes at midnight.</p>
</body>
</html>